@import "../../app/variables/variables.module";


.container {
  display: flex;
  justify-content: space-between;
  color: $white-text-color;
  padding: 18px 130px 0;
  background-color: $primary-background;

  &.headerPadding {
    padding: 25px 130px;
  }

  .brand {
    font-family: $bold-font;
    font-size: 30px;
  }

    .menuWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;

      .menu {
        font-family: $semiBold-font;
        font-size: 14px;
        display: flex;
        justify-content: center;
        margin: 0 0 0 210px;
        padding: 0;
        
        .menuItem {
          list-style-type:  none;
          margin-right: 36px;

          &:last-child {
            margin-right: 0;
          }
        }

        .menuItem > a {
          color: white;
          text-decoration: none;
        }
      }

      .wrapper {
        display: flex;
        min-width: 100px;
    
        .cart {
          font-family: $semiBold-font;
          font-size: 14px;
          margin-right: 40px;
        }
    
        .basket {
          position: relative;

          .productsCount {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1px;
            top: 10px;
            left: 10px;
            background-color: $accent;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            max-width: 15px;
            max-height: 15px;
          }
        }
      }
    }
  }
