@import "../../app/variables/variables.module";

.characteristic {
  display: flex;
  align-items: center;
  font-family: $semiBold-font;
  font-size: 16px;
  gap: 0 10px;
  color: $primary-text-color;

  & p {
    margin: 0;
  }

  .characteristicName {
    color: $characteristic-text-color;
    width: 30%;
  }

  .characteristicValue {
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    border: none;
  }

  & .edit {
    background-color: $input-background-color;
    padding: 10px 20px;
  }
}
