@import "../../app/variables/variables.module";


.container {
    display: flex;
    justify-content: space-between;
    color: $white-text-color;
    padding: 18px 130px 30px 130px;
    background-color: $secondary-background;
  }
  
  .brand {
    font-family: $bold-font;
    font-size: 30px;
  }

  .menu {
    font-family: $semiBold-font;
    font-size: 14px;
    display: flex;
    justify-content: center;
  }

  .menuItem {
    list-style-type:  none;
    margin-right: 36px;

    &:last-child {
      margin-right: 0;
    }
  }
  
  .menuItem > a {
    color: white;
    text-decoration: none;
  }
