@import "../../app/variables/variables.module";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .productsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
  }

  .buttonWrapper {
    margin-top: 20px;
    margin-right: 10px;
  }
}
